@import "tailwindcss";

body {
  background: linear-gradient(135deg, #1e293b, #0f172a);
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.app {
  background-color: #020617;
  padding: 24px 28px;
  border-radius: 14px;
  width: 420px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

h2{
  margin-bottom: 12px;
  margin-top: 12px;
}

.counter {
  text-align: center;
  margin-bottom: 24px;
}

.counter p {
  font-size: 32px;
  font-weight: bold;
  margin: 12px 0;
}

input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #334155;
  color: white;
  outline: none;
}

input:focus {
  border-color: #22c55e;
}

button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background-color: #22c55e;
  color: #022c22;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 6px;
  margin-bottom: 6px;
}

button:hover {
  background-color: #16a34a;
}

button:active {
  transform: scale(0.96);
}

button.danger {
  background-color: #ef4444;
  color: white;
}

button.danger:hover {
  background-color: #dc2626;
}

ul {
  margin-top: 10px;
}

li {
  border: 1px solid #334155;
  padding: 10px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.icon-btn {
  background: none;
  padding: 4px 6px;
}
